<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>쇼핑몰</title>
<link  href="/css/top.css"  rel="stylesheet" type="text/css" />
<style type="text/css">

</style>
</head>
<body>
<header> 작은 아쿠아  </header>

<nav class="navM"> &nbsp;&nbsp;
<div class="dropdown">
	<span class="dropbtn">&nbsp; 열대어</span>&emsp;&nbsp;
	<div class="dropdown-content">
		<a href="/aquarium/productList?List=goofyList">구피</a>
		<a href="/aquarium/productList?List=medakaList">메다카</a>
		<a href="/aquarium/productList?List=ovoviviparousList">난생/난태생송사리</a>
		<a href="/aquarium/productList?List=gouramiList">베타/구라미</a>
		<a href="/aquarium/productList?List=karasinList">카라신/레인보우</a>
		<a href="/aquarium/productList?List=cichlidList">시클리드</a>
		<a href="/aquarium/productList?List=discusList">디스커스/엔젤</a>
	</div>
</div>

<div class="dropdown">
	<span class="dropbtn">담수어</span> &emsp;&nbsp;
	<div class="dropdown-content">
		<a href="/aquarium/productList?List=koiList">잉어과</a>
		<a href="/aquarium/productList?List=goldfishList">금붕어/비단잉어</a>
		<a href="/aquarium/productList?List=catfishList">메기과</a>
	</div>
</div>

<div class="dropdown">
	<span class="dropbtn">기타 수생 생물</span> &emsp;&nbsp;
	<div class="dropdown-content">
		<a href="/aquarium/productList?List=shrimpList">CRS/새우</a>
		<a href="/aquarium/productList?List=shellfishList">갑각/패각류</a>
		<a href="/aquarium/productList?List=turtleList">거북이</a>
	</div>
</div>

<div class="dropdown">
	<span class="dropbtn">대형어 및 기수 어류</span> &emsp;&nbsp;
	<div class="dropdown-content">
		<a href="/aquarium/productList?List=largeList">대형어/기수</a>
	</div>
</div>

<div class="dropdown">
	<span class="dropbtn">수초</span> &emsp;&nbsp;
	<div class="dropdown-content">
		<a href="/aquarium/productList?List=foreList">전경수초</a>
		<a href="/aquarium/productList?List=middleList">중경/후경 수초</a>
		<a href="/aquarium/productList?List=survivalList">활착/구근/부상</a>
		<a href="/aquarium/productList?List=sterileList">무균배양수초</a>
	</div>
</div>











</nav>